<md-subheader class="md-primary ">
    {{vm.stap1Title}}</md-subheader>

<md-subheader class="md-primary " ng-show="vm.toon1Rm">
    {{vm.stap2Title}}</md-subheader>  

<md-content class="md-padding" layout-xs="column" layout="row" ng-show="vm.toonMethodes">
 
    <md-card ng-repeat="trainingsMethode in vm.trainingsMethodes" class="md-whiteframe-z2">
        <md-subheader class="md-primary md-hue-1">Trainingsmethode</md-subheader>

      
        <md-card-content>
            <h6 class="md-subhead">{{trainingsMethode.omschrijving}}</h6>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.selecteerTrainingsMethode(trainingsMethode)">Kies</md-button>
            <md-button ng-click="vm.bekijkSchema(trainingsMethode)">Schema</md-button>
        </md-card-actions>
    </md-card>

</md-content>


<md-content class="md-padding" layout-xs="column" layout="row" ng-show="vm.toon1Rm">
 
    <md-card ng-repeat="oefening in vm.oefeningenPerMethode" class="md-whiteframe-z2">
       
        <md-subheader class="md-primary md-hue-1">{{oefening.omschrijving}}</md-subheader>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{'1 rep max '+oefening.orm+' kg'}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <span class="md-headline">Voorstel : {{oefening.orm+oefening.ophoogGewicht}} kg</span>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Kies</md-button>
            <md-button ng-click="vm.toonSchemaMetOefening1rm(oefening)">Schema</md-button>
        </md-card-actions>
    </md-card>

</md-content>

<md-content class="md-padding" layout="column" layout-align="space-between left" ng-show="vm.toonSchema">
    
    <md-card ng-repeat="(workoutNummer, sets) in vm.schemaGegroepeerdPerWorkout" " class="md-whiteframe-z2 ">
       <md-subheader class="md-primary md-hue-1 ">Workoutnummer {{workoutNummer}}</md-subheader>
        <!--<md-card-title>
          <md-card-title-text>
            <span class="md-headline ">{{trainingsMethode.omschrijving}}</span>
          </md-card-title-text>
        </md-card-title>-->
        
       <md-card-content ng-repeat="set in sets ">
           <div layout="row ">
    <div flex="25"> Set : {{set.setNummer}}</div>
    <div flex="25">{{set.percentage+'% '}}</div>
    <div flex="25"><span ng-show="!set.amrap "> {{set.aantalReps + 'reps'}} </span>
    <span ng-show="set.amrap "> amrap 
         <md-tooltip md-direction="left ">
                            As Much Reps As Possible (amrap) doe zoveel mogelijk reps
         </md-tooltip>
    </span>
    </div>
    <div flex="25" ng-show="vm.geselecteerdeOefening1rm > 0">{{(vm.geselecteerdeOefening1rm * (set.percentage/100) /2.5| number:0)*2.5}}</div>
  </div>
    
        </md-card-content>
      </md-card>
      <pre>{{vm.gebruiker |json}}</pre>
</md-content>